body { color: white;
    background-color: violet;
   /* background-image: url("https://static1.squarespace.com/static/556a1885e4b0bdc6f0794659/t/577a8e0cebbd1a47dbec29ed/1467649577049/AdobeStock_27621934+%281%29.jpeg?format=2500w");*/
    font-size:20px;
}
h1 {text-align: center;
    font-size:30px;
}
